<mat-toolbar color="primary">
  <mat-toolbar-row class="row between-xs middle-xs header-row">
    <nav>
      <a mat-button routerLink="/leaderboard" routerLinkActive="active"
        ><mat-icon>leaderboard</mat-icon> Tabla de clasificación</a
      >
      <a mat-button routerLink="/match" routerLinkActive="active"
        ><mat-icon> sports_soccer</mat-icon> Partidos</a
      >
      <a mat-button routerLink="/config" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        Configuración
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
